<h1>Add the item</h1>

<form action="/" method="POST">
    
    <input type="text" name="name" placeholder="Enter Grocery Item">
    <input type="text" name="description" palceholder="Item Description">
    <button>Add to List!</button>
    
</form>