<% include partials/header %>

<div class = "container">
    <div style="margin: 25px;"> 
		<h1>Item Details</h1>
		<table class="table" style="width:100%">
			<tr>
			    <td width="70px">Title:</td>
			    <th><%= item.title %></th></tr>
			<tr class="danger">
			    <td width="100px">Description:</td>
			    <td><%= item.description %></td>
			</tr>
		</table>
        <a href="/">Back to List</a>
	</div>
</div>